// .highFiveContainer {
//     background: green;
// }

h1 {
    font-size: 120px;
    color: tomato;
    font-family: "BalooChettan-Regular", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
}

.heroSVG {
    width: 50%;
    background: #ddd;
}